<h1>{{slogan}}</h1><br>

<h3>Message Reminders to keep up with your dues</h3>

<form action="/signup">
    <input type="submit" value="Get Remind Me Free">
</form>
            {{!-- <button href="/signup" type="submit">Get Remind Me Free</button> --}}
          
