<h1 id="remembering-is-the-key-text">Remembering <br> <span>is the key.</span></h1><br>

<div id="home-subtitle-container"><h3 id="home-subtitle">Message Reminders to keep up with your dues.</h3></div>

<form id="get-free" action="/signup">
    <input type="submit" value="GET REMIND ME FREE">
</form>
            {{!-- <button href="/signup" type="submit">Get Remind Me Free</button> --}}

