/* ///////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////Layout//////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////// */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/511885.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: fit-content;
}
nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.733);
  width: 100%;
  height: 10%;
  display: flex;
}
nav img {
  /* border: 4px solid black; */
  margin-left: -100px;
  margin-top: -26px;
  height: 150%;
  margin-left: -120px;
  position: relative;
}
nav p {
  position: absolute;
  /* margin-top: 23px; */
  margin-left: -240px;
  font-size: 24px;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.7px cornflowerblue;
}
nav ul {
  list-style: none;
  float: right;
  display: flex;
  flex-direction: row;
  padding-right: 80px;
  margin: 0px 0;
}
nav li {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block;
  color: black;
  text-align: center;
  margin-top: 27px;
  padding-right: 20px;
  text-decoration: none;
}
#homeLink {
  margin-left: 200%;
}
#bar {
  /* padding: 0 -15px 0 0; */
  font-size: 20px;
  text-align: center;
}
#bar-user {
  font-size: 20px;
  text-align: center;
}
#in-sess-rem {
  margin-left: 60%;
}
/* #logout button{
  width: fit-content;
  margin-top: -3%;
  padding-top: -10%;
  width: fit-content;

} */
#logout form {
  display: flex;
  justify-content: flex-start;
  width: 12em;
  height: fit-content;
  margin-top: -2.1%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////Home Page//////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////// */

#remembering-is-the-key-text {
  padding: 13% 0 0 0;
  font-size: 8rem;
  font-weight: 800;
  text-align: center;
  color: #6495ed;
  -webkit-text-stroke: 3px rgb(43 12 26);
  /* color: white; */
  text-shadow: 9px 1px 0 rgb(68 4 36 / 70%), 6px 1px 0 rgb(68 4 36 / 70%),
    1px 1px 0 rgb(68 4 36 / 70%), 10px 1px 0 rgb(68 4 36 / 70%),
    1px 1px 0 rgb(68 4 36 / 70%);
}

#remembering-is-the-key-text span {
  padding-left: 5%;
}
#home-subtitle {
  text-align: center;
  /* text-shadow: #000 5px; */
  font-size: 20px;
  color: #6495ed;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 1px 2px 0 black, 1px 2px 0 black, 4px 1px 0 black,
    3px 1px 0 black, 1px 1px 0 black;
}
#get-free {
  width: 14rem;
}
#get-free input {
  height: 50px;
  font-size: 17px;
  color: #43a3e6;
  -webkit-text-stroke: 0.7px black;
  font-weight: bold;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.233);
  border-radius: 14px;
  border: 3px solid #52194e;
  cursor: pointer;
  transition: 0.3s ease background;
}
#get-free input:hover {
  background-color: rgba(255, 255, 255, 0.322);
  color: cornflowerblue;
  transition: 0.3s ease background;
}

a {
  color: rgb(82, 141, 250);
  -webkit-text-stroke: 0.8px black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
}
/* ///////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////Sign Up//////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////// */
#sign-up-text {
  padding: 12% 0 0 0;
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2.5em;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 1px 2px 0  rgba(68, 4, 36, 0.698),1px 2px 0  rgba(68, 4, 36, 0.698),4px 1px 0  rgba(68, 4, 36, 0.698), 3px 1px 0  rgba(68, 4, 36, 0.698), 1px 1px 0  rgba(68, 4, 36, 0.698);
}
#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 30px;
  width: 25rem;
  height: 22.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.479);
}
#sign-up-form input {
  background-color: rgba(255, 255, 255, 0.65);
}
#sign-up-form button {
  background: rgba(255, 255, 255, 0.644);
  border: 1px solid black;
  border-radius: 4px;
  color: cornflowerblue;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 8px;
  margin-bottom: 10px;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: 0.3s ease background;
  width: 40%;
  align-self: center;
}

#sign-up-form button:hover {
  background: rgba(0, 0, 0, 0.233);
  color: #43a3e6;
  transition: 0.3s ease background;
}
#sign-up-form a,
p {
  /* padding: 17px 0; */
  font-size: 0.8em;
}
#sign-up-form a {
  text-decoration: underline;
  font-size: 0.8em;
}

/* ///////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////userHome//////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////// */


#greet-text{
    padding: 12% 0 0 0;
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
    font-size: 2.5em;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 1px 2px 0  rgba(68, 4, 36, 0.698),1px 2px 0  rgba(68, 4, 36, 0.698),4px 1px 0  rgba(68, 4, 36, 0.698), 3px 1px 0  rgba(68, 4, 36, 0.698), 1px 1px 0  rgba(68, 4, 36, 0.698);
}
#greet-text-one{
  /* padding: -12% 0 0 0; */
  margin-top: 3%;
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2.5em;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 1px 2px 0  rgba(68, 4, 36, 0.698),1px 2px 0  rgba(68, 4, 36, 0.698),4px 1px 0  rgba(68, 4, 36, 0.698), 3px 1px 0  rgba(68, 4, 36, 0.698), 1px 1px 0  rgba(68, 4, 36, 0.698);
}
#greet-text-two{
  padding: 12% 0 0 0;
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2.5em;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 1px 2px 0  rgba(68, 4, 36, 0.698),1px 2px 0  rgba(68, 4, 36, 0.698),4px 1px 0  rgba(68, 4, 36, 0.698), 3px 1px 0  rgba(68, 4, 36, 0.698), 1px 1px 0  rgba(68, 4, 36, 0.698);
}
#greet-text-three input{
  height: 50px;
  font-size: 17px;
  color: #43a3e6;
  -webkit-text-stroke: .7px black;
  font-weight: bold;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.233);
  border-radius: 14px;
  border: 3px solid #52194e;
  cursor: pointer;
  transition: 0.3s ease background;
}
#greet-text-three input:hover{
  background-color: rgba(255, 255, 255, 0.322);
  color: cornflowerblue;
  transition: 0.3s ease background;
}
#greet-text{
  padding: 0;

}

form {
  /* max-width: 50%; */
  color: cornflowerblue;
  font-weight: bold;
  font-size: 1.6em;
  /* margin-left: -5px; */
  /* color: rgb(82, 141, 250); */
  -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.767);
  /* text-shadow: .5px 1px 0  rgba(68, 4, 36, 0.698),.5px 1px 0  rgba(68, 4, 36, 0.698),2px .5px 0  rgba(68, 4, 36, 0.698), 1.5px .5px 0  rgba(68, 4, 36, 0.698), .5px .5px 0  rgba(68, 4, 36, 0.698); */

  /* margin-top: 80%; */
  margin: 30px auto;
  width: 380px;
}

form label {
  display: inline-block;
  margin: 0 0 0 0;
  text-align: left;
  width: 110%;
}

form input {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin: 6px 0 22px;
}

form button {
  background: rgba(0, 0, 0, 0.39);
  border: 1px solid black;
  border-radius: 4px;
  color: cornflowerblue;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  padding: 4px 8px;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: 0.3s ease background;
  width: 40%;
  align-self: center;
}

form button:hover {
  background: rgba(0, 0, 0, 0.233);
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

/* ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
} */

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#bill-1 {
  background-color: #ffffffa6;
  font-weight: bold;
  font-size: 150%;
  color: purple;
  width: fit-content;
  display: flex;
  border-radius: 20px;
}
#create-new-bill {
  position: absolute;
  top: 20%;
  right: 80%;
  font-weight: bold;
  font-size: 250%;
  border-radius: 10px;
  background-color: violet;
}
#new-bill {
  padding: 12% 0 0 0;
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2.5em;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 1px 2px 0  rgba(68, 4, 36, 0.698),1px 2px 0  rgba(68, 4, 36, 0.698),4px 1px 0  rgba(68, 4, 36, 0.698), 3px 1px 0  rgba(68, 4, 36, 0.698), 1px 1px 0  rgba(68, 4, 36, 0.698);
}

#create{
  top: 200px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////
 /////////////////////////////////////////PROFILE//////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////////////////// */

#welcome-profile {
  margin-top: 180px;

  padding: 12% 0 0 0;
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2.5em;
  /* color: rgb(82, 141, 250); */
  -webkit-text-stroke: 1.5px black;
  text-shadow: 1px 2px 0 rgba(68, 4, 36, 0.698),
    1px 2px 0 rgba(68, 4, 36, 0.698), 4px 1px 0 rgba(68, 4, 36, 0.698),
    3px 1px 0 rgba(68, 4, 36, 0.698), 1px 1px 0 rgba(68, 4, 36, 0.698);
  /* font-weight: bold; */
  /* text-decoration: none; */
  /* font-size: 1.5em; */
}

#wel-profile {
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
  font-size: 2.5em;
  /* color: rgb(82, 141, 250); */
  -webkit-text-stroke: 1.5px black;
  text-shadow: 1px 2px 0 rgba(68, 4, 36, 0.698),
    1px 2px 0 rgba(68, 4, 36, 0.698), 4px 1px 0 rgba(68, 4, 36, 0.698),
    3px 1px 0 rgba(68, 4, 36, 0.698), 1px 1px 0 rgba(68, 4, 36, 0.698);
  /* font-weight: bold; */
  /* text-decoration: none; */
  /* font-size: 1.5em; */
}

#reload {
  margin-left: 810px;
  margin-top: 80px;
}
