<h3>{{title}}</h3>



<div id="form">
  <h2>Create new reminder</h2>
  <form action="/create" method="POST">
    <label for="inputName"> Name</label>
    <input type="text" id="input-email" name="name" placeholder="Reminder name"  value="{{reminder.name}}"/>

    <label for="inputPhoneNumber">Phone number</label>
    <input type="number" name="phoneNumber" placeholder="ex. 1(111)-111-1111"  value="{{reminder.phoneNumber}}" />






    <label for="date">Reminder Date:</label>
		{{!-- <input type="string" name="time" placeholder="MM-DD-YYYY hh:mma"> --}}
    <input type="datetime-local" name="date">
    <button type="submit">Create</button>

  </form>
</div>