<h2>Update password {{ password }}</h2>

<form action="/updatePassword/{{this.id}}" method="POST">
<label for="input-password">Old password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />
    
    <label for="input-password">New password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

  <button type="submit"> Save changes </button>
  {{!-- error message will be added here --}}
   {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>
   
