{{!-- <h1>{{title}}</h1> --}}

<ul>
  {{!-- {{#each reminder}} --}}
      <li><p>{{reminder.name }}</p></li>
      <li><p>{{reminder.date }}</p></li>
      {{!-- <li><p>{{reminder.time }}</p></li> --}}
  {{!-- {{/each}} --}}
</ul>
{{!-- <a href="/newBill"> Create new bill </a> --}}