
<h2>Welcome, {{ userInSession.username }}!</h2>
<h2>this is where all your reminders are going to be</h2>
<ul>
  {{#each reminders}}
  <li>
    <p>{{this.name }}</p>
  </li>
  <li>
    <p>{{this.date }}</p>
  </li>
  
  {{/each}}
</ul>

<button>
    <a href="/create">Create a new reminder</a>
  </button>